body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

.header-text {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8
}

.first-section {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

.first-section img {
    width: 300px;
    margin: 15px 15px;
}

.first-section .main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.second-section .information-header {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding: 20px
}

.second-section .img-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.img-caption {
    display: flex;
    flex-direction: column;
}

.second-section img {
    border-radius: 25px;
    border: 6px solid rgb(26, 52, 100);
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.third-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

footer {
    display:flex;
    margin-top: auto;
    justify-content: center;
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    margin: 20px;
    width: 1000px;
    height: 130px;
}

button {
    padding: 10px;
    border-color: #f9faf8;
}

button, .footer-content {
    background-color:#3882f6;
    color: #f9faf8;
    border-radius: 15px;
}

